<footer class="footer">
  <div>
    <strong>Chong Lab</strong>
    <p>Robotics Laboratory, JAIST.</p>
  </div>
  <div>
    <p>1-1 Asahidai, Nomi, Ishikawa 923-1292, Japan</p>
    <p>robot@ml.jaist.ac.jp</p>
    <p>© 2026 ChongLAB.ALLL Rights Reserved</p>
  </div>
</footer>
